body {
    /*using same backgroud image as in Wk 1 homework*/ 
    background-image: url(superhornets.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.navbar-brand {
    background-color: teal;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    width: 960px;
    height: auto;
    background-color: white;
    padding: 5px 8px 5px 8px; 
    background-position: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    
}


h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    font-weight: bold;
    /*Specified Heading font-family within content div*/
}

#logo {
    color: #ffffff;
}

.container {
    
}



