body {
    background-image: url(superhornets.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.navbar-brand {
    background-color: teal;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold;
}

.content {
    width: 860px;
    height: auto;
    background-color: white;
    padding: 5px; 
    background-position: center;
    margin: 0;
    
}

.container {
    
}